/* default css */
*{
    margin: 0px;
    padding: 0px !important;
}
/* end of default css */

/* start of main container css */
.main-container{
    /* background-color: aqua; */
    height:100%;
    padding:0px;
    background-image: url('../images/main_bg.jpg');
    background-size: cover;
    /* background-attachment: fixed; */
}
/* end of main container css */

/* start of main part css */
.main-row{
    margin:0px !important;
    margin-top: 14vh !important;
}
.main-column{
    background-color: aquamarine;
    height: 100%;
}
.sub-row{
    width:100%;
    height:20%;
    margin:40px 0px 40px 0px !important;
    background-color: azure;
}
/* end of main part css */


/* footer css start */
.footer-row{
    margin:0px !important;
    /* background-color: gray; */
    width:100%;
    /* height: 100px; */
    background-image: url('../images/footer_bg.jpg');
    background-size: cover;
}
/* end of footer css */